<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnB - {% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        
        <link rel="stylesheet" href="/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="/CSS/app.css">
        <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
        
        <script src="https://kit.fontawesome.com/ad0fa22932.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'admin/partials/footer.html.twig' %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        {% block javascripts %}
            <script  src="/js/app.js"></script>
        {% endblock %}
    </body>
</html>